*,
html {
    margin: 0;
    padding: 0;
}

 .container {}

 .container-navbar {
    background-color: #009fff;
    width: 100%;
    height: 13vh;
 }

 .ul-navbar {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
 }

 .li-navbar {
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: white;
    font-size: 25px;
 }

 .li-navbar:hover {
   background-color: #654ea3;
   transition: .5s ease-in-out;
   transition-delay: .1s;
   border-radius: 8px;
 }
 
 .a-navbar {
   color:white;
   text-decoration: none;
   font-weight: 800;
 }
 
 .container-content {
    background-color: #1564c0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
 }

 .member-content {
   display: flex;
   height: 500px;
   width: 100%;
   justify-content: center;
   align-items: right;
 }

 .a-content {
   background-color: white;
   width:68vh;
   height: 62vh;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);;
 }

 .img-content {
    width: 100%;
    height: 100%;
 }

 .container-footer {
    height: 10vh;
    height: 51px;
    background-color: #4286f4;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .h1-footer {
    font-size: 40px;
 }

 .allmemb-content {
   height: 100px;
   justify-content: center;
   align-items: center;
 }

 .a-shadow {
   background-color: #fff;
   width: 70%;
   height: 80%;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);;
 }

 .text-a {
   height: 185px;
   width: 99%;
   justify-content: center;
   align-items:center;
   font-size: 3vh;
 }

 .a-contact {
   background-color: #fff;
   width: 35%;
   height: 60%;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);;
 }

 .apa-saja {
   font-size: 25px;
   font-weight: 800;
 }